<a href="https://colab.research.google.com/github/atulnath/Python_Practice/blob/main/Python_Practiced_18_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
temp1 = temp2 = float("inf")

temp1, temp2

(inf, inf)

In [2]:
type(temp1)

float

In [3]:
num = 5

str_num = str(num)

type(num), type(str_num)

(int, str)

In [4]:
num = int(str_num)

type(num)

int

In [5]:
# In print, we can use, end to express what will happen after output printed
# sep to show how each args will be seperated

print("Hello World")
print("Atul")

Hello World
Atul

In [6]:
print("Hello World", end=' ')
print("Atul")

Hello World Atul

In [9]:
num = 5

print(num, 'is printed with space and', 'space also added to this string', sep=' ')

5 is printed with space and space also added to this string

In [10]:
print("Hello " + "World")

Hello World

In [11]:
a,b = 5,6

print("Value of a: {} and Value of b: {}.".format(a,b))

Value of a: 5 and Value of b: 6.

In [12]:
number = input('Enter a number: ')

print("Number: ",number)

print(type(number))

Enter a number: 6
Number:  6
<class 'str'>