<a href="https://colab.research.google.com/github/atulnath/Python_Practice/blob/main/python_practiced_20_06_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

In [1]:
squares = [i ** 2 for i in range(5)] # [0, 1, 4, 9, 16]

In [2]:
print(squares)

[0, 1, 4, 9, 16]

In [4]:
nums = [2,5,6,7,8]

evens = [i for i in nums if i%2== 0]

evens

[2, 6, 8]

In [5]:
# Reverse nums

nums[::-1]

[8, 7, 6, 5, 2]

In [6]:
nums[1:3] # Slicing

[5, 6]

In [7]:
nums[0], nums[1] = nums[1], nums[0]

nums[0], nums[1]

(5, 2)

In [8]:
# Extending nums

nums.extend([10,11])

nums

[5, 2, 6, 7, 8, 10, 11]

In [9]:
new_nums = nums[:]

In [10]:
new_nums

[5, 2, 6, 7, 8, 10, 11]

In [11]:
# Let consider a List [[1,2,3],[4,5],[6]]
# This is a 2D list, lets flatten it, or make it 1D

# Here [1,2,3], ,[4,5], [6] are sublists

# for sublist in [[1,2,3],[4,5],[6]] -> This is Outer loop

# for x in sublist -> This is Inner loop

new_list = [x for sublist in [[1,2,3],[4,5],[6]] for x in sublist]

new_list

[1, 2, 3, 4, 5, 6]

In [13]:
# [[[1,2],[4,5]],[[6,7],[8]]]
# Lets make the comprehension to do flattening

new_list_2d = [x for sublist in [[[1,2],[4,5]],[[6,7],[8]]] for x in sublist]

new_list_2d

[[1, 2], [4, 5], [6, 7], [8]]

In [14]:
new_list = [x for sublist in new_list_2d for x in sublist]
new_list

[1, 2, 4, 5, 6, 7, 8]

In [15]:
new_list = [z for sublist1 in [[[1,2],[4,5]],[[6,7],[8]]] for sublist2 in sublist1 for z in sublist2]

In [16]:
# 3rd loop: for z in sublist2
# 2nd loop: for sublist2 in sublist1
# 1st loop: for sublist1 in [[[1,2],[4,5]],[[6,7],[8]]]

In [17]:
# [[[[1,2],[4,5]],[[6,7],[8]]], [[[9,10],[11,12]], [[13,14],[15,16]]]]

test = [[[[1,2],[4,5]],[[6,7],[8]]], [[[9,10],[11,12]], [[13,14],[15,16]]]]

test

[[[[1, 2], [4, 5]], [[6, 7], [8]]],
 [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [19]:
# 4th loop: for z in outer3
# 3rd loop: for outer3 in outer2
# 2nd loop: for outer2 in outer1
# 1st loop: for outer1 in test

new_list_2 = [z for outer1 in test for outer2 in outer1 for outer3 in outer2  for z in outer3]

In [20]:
new_list_2

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]