<a href="https://colab.research.google.com/github/atulnath/Python_Practice/blob/main/Python_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehensions

In [ ]:
print([x for x in range(5)])
#Output: [0,1,2,3,4]

[0, 1, 2, 3, 4]

In [ ]:
print([x**2 for x in range(5)])
#Output: [0,1,4,9,16]

[0, 1, 4, 9, 16]

In [ ]:
print([x for x in range(10) if x%2==0])
#Output: [0,2,4,6,8]

[0, 2, 4, 6, 8]

In [ ]:
print([x for x in range(20) if x%2==0 and x%3==0])

[0, 6, 12, 18]

# Set Comprehensions

In [ ]:
print({x for x in range(5)})
print({x**2 for x in range(5)})
print({x for x in range(10) if x%2==0})

{0, 1, 2, 3, 4}
{0, 1, 4, 9, 16}
{0, 2, 4, 6, 8}

# Dictionary Comprehensions

In [ ]:
print({x:x for x in range(5)})
print({k:v for k,v in [('a',1),('b',2)]}) #k got 'a' and v got 1
print({x: chr(65+x) for x in range(5)})

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}
{'a': 1, 'b': 2}
{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}

# Generator Expression

In [ ]:
x = (x for x in range(5))
for val in x:
  print(val)

0
1
2
3
4

In [ ]:
x = sum(x for x in range(5))

print(x)

10

**So Lets Break it Down:**

[] -> for List
{} -> for Set
{:} -> for dictionary
() -> Generators
sum() -> Generators

# Nested Comprehensions

In [ ]:
print([[i*j for j in range(3)] for i in range(3)])

#i = 0, -> [0,0,0]
#i= 1, -> [0,1,2]
#i= 2, -> [0,2,4]

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

# Comprehensions with if inside

In [ ]:
print([x if x%2 == 0 else -x for x in range(5)])

[0, -1, 2, -3, 4]

In [ ]:
print([x  for x in range(5)if x%2 == 0])

[0, 2, 4]

# Comprehension with Functions

In [ ]:
def square(x): return x*x
[square(x) for x in range(5)]

[0, 1, 4, 9, 16]

# Comprehension with Multiple Loops

In [ ]:
for x in range(3):
  for y in range(2):
    print(x,y)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
print([(outer,inner) for outer in range(3) for inner in range(2)])

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [ ]:
[outer*inner for outer in range(3) for inner in range(3) ]

[0, 0, 0, 0, 1, 2, 0, 2, 4]

In [ ]:
matrix = [
 [1, 2],
 [3, 4],
 [5, 6]
]
#Flattened 2D in 1D
arr=[]
for row in matrix:
  for x in row:
    arr.append(x)
print(arr)

[1, 2, 3, 4, 5, 6]

In [ ]:
print([x for row in matrix for x in row])

[1, 2, 3, 4, 5, 6]

# Transposing a Matrix

In [ ]:
matrix = [[1,2,3],[4,5,6]]

for row in matrix:
  print(row)

print([[row[i] for row in matrix] for i in range(3)])

[1, 2, 3]
[4, 5, 6]
[[1, 4], [2, 5], [3, 6]]