<a href="https://colab.research.google.com/github/atulnath/Python_Practice/blob/main/python_practice_20_05_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#convert dictionary to list of tuple

list_key_value_pair={'A':65, 'C':67,'D':68,'E':69}
print(list_key_value_pair)
print(list_key_value_pair.items())

{'A': 65, 'C': 67, 'D': 68, 'E': 69}
dict_items([('A', 65), ('C', 67), ('D', 68), ('E', 69)])

In [4]:
#initialize the key, if value not exists, at last add 1
list_key_value_pair['B'] = list_key_value_pair.get('B',65) + 1

print(list_key_value_pair)

{'A': 65, 'C': 67, 'D': 68, 'E': 69, 'B': 66}

In [18]:
#Sorting of two dimension array

list_a=[[2,1],[4,3]]
print(list_a)
list_a.sort( reverse=True)
print(list_a)

[[2, 1], [4, 3]]
[[4, 3], [2, 1]]

In [21]:
# check for list type
if isinstance(list_a,list):
  print("YES")
if type(list_a) is list:
  print("YES")

YES
YES

In [22]:
#char to ascii value, ascii val to char
num=ord('C')
print(num)
chars=chr(num)
print(chars)

67
C

In [24]:
#Limit to 2 decimal space
num=34.23232
print(round(num,2))

34.23

In [30]:
# Adding and removing both side

from collections import deque

sample_text="Hello World"
q=deque([sample_text])
print(q)
q.appendleft('A')
print(q)
q.popleft()
print(q)
q=deque(sample_text)
print(q)
q.appendleft('A')
print(q)
q.popleft()
print(q)

deque(['Hello World'])
deque(['A', 'Hello World'])
deque(['Hello World'])
deque(['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'])
deque(['A', 'H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'])
deque(['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'])

In [33]:
#insersection of two sets

a={1,2,3}
b={3,4,5}
result=a.intersection(b)
print(result)

{3}